.container-fluid {
    margin: 10px;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid2 {
    background-image: url(fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler-icon {
    color: #fff;
}


.lead {
    text-align: justify;
}

@media (max-width: 1641px) {
    .titulo {
        text-align: center
    }

    .container-fluid2 {
        background-image: url(fondo22.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    

}

.reserva {
    text-align: center;
}

.container-fluid3 {
    background-image: url(fondo222.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.card-title {
    text-align: center;
}

.servi {
    text-align: center;
}

.anf {
    background-image: url(fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.anf2 {
    background-image: url(fondo222.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.rotate-left {
    transform: rotate(-5deg);
   
}

  .rotate-right {
    transform: rotate(5deg);
    
  }

 
#texto {
    display: none;
  }

#menu {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

#menu:hover {
    opacity: 0.8;
  }

  .hover-zoom {
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease-in-out;
    animation: zoom 1s infinite alternate;
  }
  
  .hover-zoom:hover {
    transform: scale(1.1);
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  .shake {
    animation: shake 3s infinite linear;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
